/*============================================================================
  Table of Contents

  #Screen Size Variables
  #Font Families
  #Color Variables
  
 ##Main Content
  #Reset
  #Presets
  #Navbar
  #Login
  #Admin
  #About
  #Contact
  #Recipes
  #Articles
==============================================================================*/
/*============================================================================
 #Screen Size Variables &
 Dependency-free breakpoint mixin 
 // http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
/*============================================================================
 #Font Families
==============================================================================*/
/*============================================================================
 #Color Variables
==============================================================================*/
/*============================================================================
 ##Main Content
==============================================================================*/
/*============================================================================
 #Reset
==============================================================================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline; }

html {
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, iframe {
  display: block; }

textarea, input {
  outline: none;
  -webkit-appearance: none; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

html, body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Lato", sans-serif; }

.site-container {
  width: 100%;
  min-height: 100vh; }

/*============================================================================
  #Presets

  Table of Contents
    Margins
    Flex Styling
    Footer
    Headers
    Buttons
    Inputs

==============================================================================*/
.mar-top-xs {
  margin-top: 8px; }

.mar-top-sm {
  margin-top: 16px; }

.mar-top-md {
  margin-top: 24px; }

.mar-top-lg {
  margin-top: 32px; }

.mar-top-xl {
  margin-top: 40px; }

.mar-bot-xs {
  margin-bottom: 8px; }

.mar-bot-sm {
  margin-bottom: 16px; }

.mar-bot-md {
  margin-bottom: 24px; }

.mar-bot-lg {
  margin-bottom: 32px; }

.mar-bot-xl {
  margin-bottom: 40px; }

.flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.flex-column-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.flex-row-center {
  display: flex;
  justify-content: center; }

.flex-row-space-between {
  display: flex;
  justify-content: space-between; }

.flex-row-space-evenly {
  display: flex;
  justify-content: space-evenly; }

.site-footer {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 100px; }

.header-one {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #8FE0FF;
  text-align: center; }

.header-two {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #8FE0FF;
  text-align: center; }

.header-three {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0051B2;
  text-align: center; }

.header-four {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0051B2;
  text-align: center; }

.button {
  width: 150px;
  height: 30px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #CCCCCC;
  background-color: #EEEEEE;
  cursor: pointer; }

.button:hover {
  color: white;
  border: 1px solid #8FE0FF;
  background-color: #8FE0FF; }

.button:active {
  border: 1px solid #0051B2;
  background-color: #0051B2; }

.text-input-container {
  margin-bottom: 10px; }

.text-input {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  height: 25px;
  padding: 5px;
  font-size: 14px; }

.text-input.invalid {
  border: 2px solid red; }

.text-area-input-container {
  margin-bottom: 10px; }

.text-area-input {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
  padding: 5px;
  font-size: 14px; }

.checkmark-img {
  width: 10px;
  height: 10px; }

/*============================================================================
 #Navbar
==============================================================================*/
#navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 7%; }

#navbar {
  display: flex;
  justify-content: space-between; }

.nav-item-container {
  display: flex; }

.nav-item {
  margin-right: 30px; }

.nav-link.active {
  color: #8FE0FF; }

.nav-link {
  color: #CCCCCC;
  font-weight: bold;
  font-family: "Quicksand", sans-serif; }

/*============================================================================
 #Login
==============================================================================*/
.login-container {
  padding: 50px 7%;
  min-height: calc(100vh - 80px);
  box-sizing: border-box; }

.login-form {
  margin: 50px auto;
  width: 500px;
  padding: 15px;
  display: flex;
  justify-content: center; }

.login-button {
  display: block;
  margin: 30px auto; }

/*============================================================================
 #Admin
==============================================================================*/
.admin-container {
  position: relative;
  width: 100%; }

.admin-logout {
  position: absolute;
  top: 0;
  right: 0; }

.admin-nav {
  width: 100%;
  height: 100px; }

.admin-nav-list-item {
  color: #FFA90C;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer; }

.admin-nav-list-item.selected {
  text-decoration: underline; }

.create-recipe-container {
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box; }

.recipe-content-header {
  margin-top: 20px;
  margin-bottom: 30px; }

.create-recipe-content-container {
  width: 100%; }

.create-recipe-form {
  width: 45%;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box; }

.create-recipe-input-container {
  width: 80%;
  margin: 0 auto 20px; }

.create-recipe-input {
  display: block;
  width: 90%;
  margin: 0 auto; }

.create-recipe-area-input-container {
  width: 80%;
  margin: 0 auto 20px; }

.create-recipe-area-input {
  width: 90%;
  display: block;
  margin: 0 auto; }

.create-recipe-button {
  display: block;
  margin: 20px auto; }

.create-recipe-list-generator {
  width: 45%;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box; }

.add-item-nav-container {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box; }

.add-item-nav-item {
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 10px;
  color: #CCCCCC;
  cursor: pointer; }

.add-item-nav-item.selected {
  background-color: #FFA90C;
  color: #0051B2; }

.recipe-add-item-area-input-container {
  margin-top: 30px; }

.recipe-add-item-area-input {
  display: block;
  margin: 0 auto;
  height: 50px; }

.recipe-add-item-button {
  display: block;
  margin: 20px auto; }

.recipe-list-section {
  border-top: 1px solid black;
  padding-top: 20px;
  height: 350px; }

.recipe-list-container {
  width: 100%;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  height: 315px;
  overflow: hidden;
  overflow-y: scroll; }

.recipe-list-item {
  margin-bottom: 15px;
  cursor: pointer; }

.recipe-list-page-container {
  width: 100%;
  padding-top: 30px; }

.recipe-list-content-container {
  max-width: 1200px;
  margin: 0 auto; }

.recipe-list-page-list {
  margin-top: 50px; }

.recipe-list-page-item {
  border: 1px solid black;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px; }

.recipe-list-page-item-published {
  margin-left: 20px; }

.recipe-list-page-button:first-of-type {
  margin-right: 20px; }

.recipe-list-page-checkmark {
  margin-left: 10px; }

.return-to-recipe-list-button {
  margin-right: 20px; }

/*============================================================================
 #About
==============================================================================*/
/*============================================================================
 #Contact
==============================================================================*/
/*============================================================================
 #Recipes
==============================================================================*/
/*============================================================================
 #Articles
==============================================================================*/
